<div class="min-h-screen bg-slate-950 text-slate-100 p-2 overflow-hidden">
  <app-global-config
    [globalState]="globalState()"
    [totalCap]="totalCap()"
    [updateTier]="updateGlobalTier"
    [updateNightmare]="updateGlobalNightmare"
  ></app-global-config>

  <div class="flex gap-2 mb-2">
    <app-undo-button [canUndo]="canUndo()" [lastAction]="lastAction()" (onUndo)="undo()" />

    @if (calculatedCharacters().length < 3) {
      <button
        (click)="openSelectCharacterModal()"
        class="flex-1 py-1.5 bg-slate-800 hover:bg-slate-700 rounded-lg border-2 border-dashed border-slate-600 text-sm font-semibold transition flex items-center justify-center gap-1.5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
        Añadir Nuevo Personaje
      </button>
    }
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
    @for (char of calculatedCharacters(); track char.id) {
      <app-character-data
        [character]="char"
        [totalCap]="totalCap()"
        [openAddCardModal]="openAddCardModal.bind(this, char.id)"
        [openEpiphanyModal]="openEpiphanyModal.bind(this, char.id)"
      ></app-character-data>
    }
  </div>
</div>
