.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(30 41 59);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(71 85 105);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(71 85 105) rgb(30 41 59);
}
